<form method="post">
    <label>Mobile Number:</label>
    <input type="text" name="mobile" required>

    <label>First Name:</label>
    <input type="text" name="first_name" required>

    <label>Last Name:</label>
    <input type="text" name="last_name" required>

   <br>
     <label>Select CIBIL API:</label><br>
    <input type="radio" name="cibil_option" value="Fetch_CIBIL" checked> FETCH REPORT <br>
    <input type="radio" name="cibil_option" value="OVERRIGHT"> OVERRIGHT CIBIL REQUEST<br><br>

    <button type="submit">Auto-Fetch PAN and Get Result</button>
</form>
